footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    p {
        align-self: center;
        margin-top: 47px;
    }
    .sharing {
        display: flex;
        flex-direction: row;
        align-self: center;
        img {
            padding: 22px 19px;
        }
    }
    .copyright {
        align-self: center;
        margin-bottom: 28px;
    }
}