.trendinggifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  background-color: #F3F5F8;
  width: 100%;
  height: 430px;
}

.trendinggifos .galleryfoot {
  margin-top: 36px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.trendinggifos .galleryfoot h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #572EE5;
}

.trendinggifos .galleryfoot p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trendinggifos .gallery {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 260px;
  height: 180px;
  background-color: red;
  margin-bottom: 82px;
  margin-top: 32px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 47px;
}

footer .sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .sharing img {
  padding: 22px 19px;
}

footer .sharing #facebook :hover {
  -webkit-filter: url(./imgs/svg/facebook/icon_facebook_hover.svg);
          filter: url(./imgs/svg/facebook/icon_facebook_hover.svg);
}

footer .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 28px;
}

header div {
  background-color: white;
  width: 100%;
  height: 8%;
  z-index: 2;
  margin-bottom: 10px;
}

header div .logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6%;
  margin-top: 35px;
}

header input {
  display: none;
}

header label {
  float: right;
  cursor: pointer;
  margin-top: 33px;
}

header label span {
  z-index: 3;
  display: block;
  position: relative;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #572EE5;
  margin: 1rem 1.5rem;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

header label span::before {
  display: block;
  position: absolute;
  content: "";
  top: -6px;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header label span::after {
  display: block;
  position: absolute;
  content: "";
  bottom: -6px;
  width: 100%;
  height: 120%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header ul {
  position: absolute;
  background-color: rgba(87, 46, 229, 0.9);
  max-height: 0px;
  display: none;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 100%;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  padding-top: 20px;
  z-index: 2;
}

header ul li {
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  width: 90%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
}

header ul li :hover {
  -webkit-text-decoration: underline #50E3C2;
          text-decoration: underline #50E3C2;
}

header ul li :active {
  color: #9CAFC3;
}

header input:checked ~ ul {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header input:checked ~ label span {
  background-color: transparent;
}

header input:checked ~ label span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: darkblue;
  top: 0;
}

header input:checked ~ label span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: darkblue;
  top: 0;
}

.greyline {
  width: 41px;
  height: 0.1px;
  content: '';
  opacity: 0.5;
  background-color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.misgifos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 21px;
  margin: 0px 21px;
}

.misgifos img {
  width: 42%;
  height: 120px;
}

.misgifos .placeholder {
  -ms-grid-column-align: center;
      justify-self: center;
  background: blue;
  width: 156px;
  height: 120px;
}

.gifosimg {
  margin-bottom: 3rem;
}

.btn {
  margin-top: 78px;
  margin-bottom: 76px;
}

.btn button {
  border: #572EE5 solid 1px;
  padding: 13px 25px;
  border-radius: 25px;
  background: white;
}

.btn button p {
  font-size: 13px;
  color: #572EE5;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.blueline {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

h1 {
  font-size: 20px;
  color: #572EE5;
}
/*# sourceMappingURL=stylesheetFavoritos.css.map */