header {
    background-color: white;
    width: 100%;
    height: 95px;
    z-index: 2;
    margin-bottom: 10px;
    .navheader {
        display: none;
    }
    .logo {
        img {
            display: flex;
            margin-left: 6%;
            margin-top: 35px;
            margin-bottom: 17px;
        }
    }
    input {
        display: none;
    }
    label {
        float: right;
        cursor: pointer;
        span {
            z-index: 3;
            display: block;
            position: relative;
            content: "";
            width: 15px;
            height: 2px;
            background-color: $lightpurplecolor;
            margin: 1.5rem 1.5rem; 
            transition: background-color .2s;
            &::before{
                display: block;
                position: absolute;
                content: "";
                top:  -6px;
                width: 100%;
                height: 100%;
                background-color: inherit;
                transition: transform 0.2s ease-in-out;
            }
            &::after{
                display: block;
                position: absolute;
                content: "";
                bottom: -6px;
                width: 100%;
                height: 120%;
                background-color: inherit;
                transition: transform 0.2s ease-in-out;
            }
        }
    }
    ul {
        position: absolute;
        background-color: rgba(87,46,229,0.90);
        max-height: 0px;
        display: none;
        list-style: none;
        flex-flow: column;
        width: 100%;
        height: 100%;
        transition: max-height 0.2s ease-in-out;
        padding-top: 20px;
        z-index: 2;
        li {
            font-size: 15px;
            font-weight: bold;
            line-height: 40px;
            align-self: center;
            width: 90%;
            height: 40px;
            font-family: 'Montserrat', sans-serif;
            :hover {
                text-decoration: underline $lightgreencolor;
            }
            :active {
                color: #9CAFC3;
            }
        }
    }
}

header input:checked ~ ul{
    max-height: 100%;
    display: flex;
}
header input:checked ~ label span{
    background-color: transparent;
}
header input:checked ~ label span::before{
    transform: rotate(-45deg);
    background-color: darkblue;
    top: 0;
}
header input:checked ~ label span::after{
    transform: rotate(45deg);
    background-color: darkblue;
    top: 0;
}

.greyline {
    width: 41px;
    height: 0.1px;
    content: '';
    opacity: 0.5;
    background-color: #FFFFFF;
    align-self: center;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

#creategift {
    display: none;
}

.navheader {
    display: none;
    visibility: hidden;
}

@media (min-width: 540px) {

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 10px;
    }

    .greyline {
        display: none;
    }

    #creategift {
        display: initial;
    }
    

    a {
        font-size: 13px;
        color: $lightpurplecolor;
        text-decoration: none;
    }

    header {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1.5fr 0.5fr;
        grid-template-rows: 90px;
        position: static;
        height: 90px;
        justify-items: center;
        align-items: center;
        .navheader {
            display: initial;
        }
        .plusbtn {
            display: flex;
            justify-self: flex-start;
            background-color: initial;
            justify-content: center;
            align-content: center;
            img {
                width: 54px;
                height: 54px;
                justify-self: center;
            }
        }
        div {
            .logo {
                display: flex;
                height: auto;
                width: auto;
                img {
                    margin: 0px;
                }
            }
        }
        input {
            display: none;
        }
        label {
            display: none;
            span {
                z-index: 0;
                display: none;
                &::before{
                    display: none;
                }
                &::after{
                    display: none;
                }
            }
        }
        ul {
            position: relative;
            display: flex;
            background-color: transparent;
            flex-direction: row;
            justify-content: flex-end;
            width: auto;
            height: auto;
            padding: 0px;
            z-index: 2;
            li {
                display: flex;
                align-items: center;
                font-size: 13px;
                font-weight: bold;
                line-height: 16px;
                width: auto;
                padding: 0 10px;
                font-family: 'Montserrat', sans-serif;
                :hover {
                    text-decoration: underline $lightgreencolor;
                }
                :active {
                    color: #9CAFC3;
                }
            }
        }
    }
}