nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    justify-content: center;
    div {
        width: 73%;
        height: 130px;
        justify-self: center;
    }
    .navsphere {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        grid-template-rows: 1fr;
        margin: 0;
        height: 50px;
        width: 335px;
        border: 2px solid $lightpurplecolor;
        border-radius: 2rem;
        background-color: white;
        img {
            width: 20px;
            height: 20px;
            justify-self: center;
            align-self: center;
        }
        input {
            justify-self: center;
            align-self: center;
            border: 0px;
            height: 90%;
            font-size: 16px;
        }
    }
}