header div {
  background-color: white;
  width: 100%;
  height: 8%;
  z-index: 2;
  margin-bottom: 10px;
}

header div .logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6%;
  margin-top: 35px;
}

header input {
  display: none;
}

header label {
  float: right;
  cursor: pointer;
  margin-top: 33px;
}

header label span {
  z-index: 3;
  display: block;
  position: relative;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #572EE5;
  margin: 1rem 1.5rem;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

header label span::before {
  display: block;
  position: absolute;
  content: "";
  top: -6px;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header label span::after {
  display: block;
  position: absolute;
  content: "";
  bottom: -6px;
  width: 100%;
  height: 120%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header ul {
  position: absolute;
  background-color: rgba(87, 46, 229, 0.9);
  max-height: 0px;
  display: none;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 100%;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  padding-top: 20px;
  z-index: 2;
}

header ul li {
  font-size: 15px;
  line-height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  width: 90%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
}

header ul li a {
  font-size: 15px;
}

header ul li ::after {
  display: block;
  content: "";
  bottom: 5px;
  width: 30px;
  height: 10px;
  background-color: grey;
}

header input:checked ~ ul {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header input:checked ~ label span {
  background-color: transparent;
}

header input:checked ~ label span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: darkblue;
  top: 0;
}

header input:checked ~ label span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: darkblue;
  top: 0;
}

.greyline {
  width: 45px;
  height: 3px;
  content: '';
  background-color: rgba(119, 116, 129, 0.9);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

main div .title {
  width: 76%;
  height: 100px;
}

main div .title h1 {
  font-size: 25px;
  text-align: center;
  color: #572EE5;
}

main div .title h1 span {
  color: #50E3C2;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav div {
  width: 73%;
  height: 130px;
  -ms-grid-column-align: center;
      justify-self: center;
}

nav .navsphere {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 0.5fr;
      grid-template-columns: 1.5fr 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0;
  height: 50px;
  width: 335px;
  border: 2px solid #572EE5;
  border-radius: 2rem;
  background-color: white;
}

nav .navsphere img {
  width: 20px;
  height: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .navsphere input {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0px;
  height: 90%;
  font-size: 16px;
}

.trending div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
  width: 236px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.trending div p {
  size: 14px;
  color: #572EE5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trending div h4 {
  padding-bottom: 5px;
  size: 19px;
  color: #572EE5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trendinggifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  background-color: #F3F5F8;
  height: 430px;
}

.trendinggifos .galleryfoot {
  width: 330px;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.trendinggifos .galleryfoot h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #572EE5;
}

.trendinggifos .galleryfoot p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trendinggifos .gallery {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 260px;
  height: 180px;
  background-color: red;
  margin-bottom: 82px;
  margin-top: 32px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 47px;
}

footer .sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .sharing img {
  padding: 22px 19px;
}

footer .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 28px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.blueline {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
/*# sourceMappingURL=stylesheet.css.map */