@import "variables";
@import "header";
@import "title";
@import "nav";
@import "trending";
@import "footer";

* {
    padding: 0;
    margin: 0;
    font-family: $font;
    text-align: center;
}

.blueline {
    width: 100%;
    height: 5px;
    background-color: $lightpurplecolor;
}


@media (prefers-color-scheme: dark) {
    /* dark-theme style */
    body {
        background-color: rgb(47, 47, 47);
        color: #ffb847;
    }

    /* como ya tenia inventado el modo oscuro, invento el modo claro  para poder usar toggle */
    /* light-theme style */
    body.light-theme {
        background-color: white;
        color: #ee6352;
    }
}