header {
  background-color: white;
  width: 100%;
  height: 95px;
  z-index: 2;
  margin-bottom: 10px;
}

header .navheader {
  display: none;
}

header .logo {
  width: 90px;
  margin-left: 6%;
  margin-top: 35px;
  margin-bottom: 17px;
}

header input {
  display: none;
}

header label {
  float: right;
  cursor: pointer;
}

header label span {
  z-index: 3;
  display: block;
  position: relative;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #572EE5;
  margin: 1.5rem 1.5rem;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

header label span::before {
  display: block;
  position: absolute;
  content: "";
  top: -6px;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header label span::after {
  display: block;
  position: absolute;
  content: "";
  bottom: -6px;
  width: 100%;
  height: 120%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header ul {
  position: absolute;
  background-color: rgba(87, 46, 229, 0.9);
  max-height: 0px;
  display: none;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 100%;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  padding-top: 20px;
  z-index: 2;
}

header ul li {
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
}

header ul li :hover {
  -webkit-text-decoration: underline #50E3C2;
          text-decoration: underline #50E3C2;
}

header ul li :active {
  color: #9CAFC3;
}

header input:checked ~ ul {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header input:checked ~ label span {
  background-color: transparent;
}

header input:checked ~ label span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: darkblue;
  top: 0;
}

header input:checked ~ label span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: darkblue;
  top: 0;
}

.greyline {
  width: 41px;
  height: 0.1px;
  content: '';
  opacity: 0.5;
  background-color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

#creategift {
  display: none;
}

.navheader {
  display: none;
  visibility: hidden;
}

@media (min-width: 540px) {
  .logo {
    content: url("./imgs/svg/logo/logo-desktop.svg");
    width: 1px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
  }
  .greyline {
    display: none;
  }
  #creategift {
    display: initial;
  }
  a {
    font-size: 13px;
    color: #572EE5;
    text-decoration: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1fr 1.5fr 0.5fr;
        grid-template-columns: 0.5fr 1fr 1.5fr 0.5fr;
    -ms-grid-rows: 90px;
        grid-template-rows: 90px;
    position: static;
    margin-bottom: 60px;
    height: 90px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navheader {
    display: initial;
  }
  header .plusbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-start;
    background-color: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header .plusbtn img {
    width: 54px;
    height: 54px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header div .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
  }
  header div .logo img {
    margin: 0px;
  }
  header input {
    display: none;
  }
  header label {
    display: none;
  }
  header label span {
    z-index: 0;
    display: none;
  }
  header label span::before {
    display: none;
  }
  header label span::after {
    display: none;
  }
  header ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    height: auto;
    padding: 0px;
    z-index: 2;
  }
  header ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    width: auto;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
  }
  header ul li :hover {
    -webkit-text-decoration: underline #50E3C2;
            text-decoration: underline #50E3C2;
  }
  header ul li :active {
    color: #9CAFC3;
  }
}

main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

main div .title {
  width: 76%;
  height: 100px;
}

main div .title h1 {
  font-size: 25px;
  text-align: center;
  color: #572EE5;
}

main div .title h1 span {
  color: #50E3C2;
}

@media (min-width: 540px) {
  main #containertitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    margin-top: 10px;
  }
  main #containertitle .title {
    width: 600px;
    margin-bottom: 20px;
  }
  main #containertitle .title h1 {
    font-size: 35px;
    line-height: 50px;
  }
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  justify-items: center;
}

nav > img {
  width: 220px;
  height: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

nav .navsphere {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 0.5fr;
      grid-template-columns: 1.5fr 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0;
  height: 50px;
  width: 335px;
  border: 2px solid #572EE5;
  border-radius: 2rem;
  background-color: white;
}

nav .navsphere img {
  width: 20px;
  height: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .navsphere input {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0px;
  height: 90%;
  font-size: 16px;
}

@media (min-width: 540px) {
  nav img {
    width: 399px;
    height: 190px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav .navsphere {
    width: 545px;
  }
  nav .navsphere img {
    width: 20px;
    height: 20px;
  }
  nav .navsphere input {
    border: 0px;
    width: 350px;
    height: 90%;
    font-size: 16px;
    text-align: left;
  }
}

.trending div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
  width: 236px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.trending div p {
  size: 14px;
  color: #572EE5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trending div h4 {
  padding-bottom: 5px;
  size: 19px;
  color: #572EE5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trendinggifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F3F5F8;
  height: 430px;
}

.trendinggifos .galleryfoot {
  width: 330px;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.trendinggifos .galleryfoot h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #572EE5;
}

.trendinggifos .galleryfoot p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trendinggifos .gallery {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 260px;
  height: 180px;
  background-color: wheat;
  margin-bottom: 82px;
  margin-top: 32px;
}

@media (min-width: 540px) {
  .trending div {
    margin-top: 70px;
    margin-bottom: 95px;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .trending div p {
    width: 100%;
    size: 14px;
    color: #572EE5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .trending div h4 {
    padding-bottom: 5px;
    size: 19px;
    color: #572EE5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .trendinggifos {
    height: 640px;
  }
  .trendinggifos .gallery {
    justify-self: flex-start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
    height: 275px;
    margin-right: 94px;
    margin-left: 94px;
    margin-bottom: 182px;
    margin-top: 53px;
  }
  .trendinggifos .gallery #gifs {
    width: 1050px;
  }
  .trendinggifos .gallery .arrows {
    font-style: none;
    background-color: none;
    width: 40px;
    height: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 47px;
}

footer .sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .sharing img {
  padding: 22px 19px;
}

footer .sharing #facebook :hover {
  -webkit-filter: url(./imgs/svg/facebook/icon_facebook_hover.svg);
          filter: url(./imgs/svg/facebook/icon_facebook_hover.svg);
}

footer .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 28px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.blueline {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

@media (prefers-color-scheme: dark) {
  /* dark-theme style */
  body {
    background-color: #2f2f2f;
    color: #ffb847;
  }
  /* como ya tenia inventado el modo oscuro, invento el modo claro  para poder usar toggle */
  /* light-theme style */
  body.light-theme {
    background-color: white;
    color: #ee6352;
  }
}
/*# sourceMappingURL=stylesheet.css.map */