header {
    div {
        width: 100%;
        height: 95px;
        .logo {
            img {
                display: flex;
                margin-left: 6%;
                margin-top: 35px;
            }
        }
    }
}

.gifosimg {
    padding: 6px;
    margin-bottom: 46px;
}